.banner {
    background-color: rgb(58, 175, 210);

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    &__info {
        padding: 32px 0;
        text-align: center;
        width: 80%;
    }
    &__subtitle {
        color: theme("colors.white");
        font-size: 24px;
        margin-bottom: 8px;
    }
    &__title {
        color: theme("colors.white");
        font-size: 36px;
        font-weight: 500;
        line-height: 1;
    }
    &__excerpt {
        color: theme("colors.white");
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 32px;
        margin-top: 16px;
    }

    &__image {
        /* width: 30%; */
    }
}

@media screen(lg) {
    .banner {
        background-color: rgb(58, 175, 210);

        &__container {
            flex-direction: row;
        }
        &__info {
            padding: 0;
            text-align: left;
            width: 60%;
        }
        &__subtitle {
            color: theme("colors.white");
            font-size: 30px;
            margin-bottom: 0;
        }
        &__title {
            font-size: 48px;
            font-weight: 500;
            line-height: normal;
        }
    }
}
