/* @layer components { */
.btn {
    border-radius: 4px;
    color: 400;
    display: inline-block;
    font-family: theme("fontFamily.body");

    padding: 12px 24px;

    &--primary {
        background-color: theme("colors.primary");
        color: theme("colors.white");

        &:hover {
            background-color: #fe4042;
        }
    }

    &--outline {
        border: 1px solid theme("colors.sky.600");
        color: theme("colors.sky.600");

        &:hover {
            background-color: theme("colors.sky.600");
            color: theme("colors.white");
        }
    }
    &__icon {
        display: inline-block;
        font-size: 30px;
        margin-top: calc(-1 * 2px);
    }
}
/* } */
