/* @layer components { */
.form-group {
    margin-bottom: 16px;
}
.label {
    color: #373f50;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.375rem;
}
.input {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #dae1e7;
    border-radius: 0.3125rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    color: #4b566b;
    display: block;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.625rem 1rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}
/* } */
