.navmenu {
    background-color: theme("colors.white");
    position: sticky;
    top: 0;
    z-index: 15;

    &__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    &__logo-img {
        width: 56px;
    }

    &__collapsable {
        background-color: theme("colors.white");

        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
        left: 0;
        max-height: 0;
        overflow: hidden;

        position: fixed;

        top: 46px;
        transition: all 0.4s ease-out;
        width: 100%;
        z-index: 16;

        &--active {
            display: block;
            max-height: 100vh;
        }
    }

    &__collapsable--active .navmenu__list {
        max-height: 100vh;
    }
    &__list {
        align-items: center;
        /* border: 1px solid red; */
        color: theme("colors.slate.500");
        display: flex;
        flex-direction: column;
        max-height: 0;
        padding-bottom: 20px;
        transition: all 0.4s ease-out;
    }

    &__list-item {
    }

    &__list-link {
        align-items: center;
        display: flex;
        font-family: theme("fontFamily.body");
        font-weight: 400;
        height: 60px;

        &:hover {
            color: theme("colors.primary");
        }

        &--active {
            color: theme("colors.primary");
        }
    }

    &__buttons {
        display: flex;
        height: 2.875rem;
    }
    &__cart-button {
        align-items: center;
        border-radius: 50%;
        display: flex;
        height: 2.875rem;
        justify-content: center;
        line-height: 2.625rem;
        margin-right: 20px;
        position: relative;
        text-align: center;
        transition: color 0.25s ease-in-out;
        width: 2.875rem;
    }
    &__cart-counter {
        background-color: theme("colors.primary");
        border-radius: 50%;
        color: theme("colors.white");
        font-size: 0.75rem;
        font-weight: 500;
        height: 1.25rem;
        line-height: 1.25rem;
        position: absolute;
        right: calc(-1 * 4px);
        text-align: center;
        top: 2px;
        width: 1.25rem;
    }
    &__cart-icon {
        color: theme("colors.slate.600");
        font-size: 30px;
    }

    &__cart-hamburger {
        cursor: pointer;
        font-size: 24px;
    }

    &__user {
        align-items: center;
        display: flex;
        margin-right: 10px;
    }
}
@media screen(lg) {
    .navmenu {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
        &__container {
        }
        &__logo-img {
            width: 144px;
        }
        &__collapsable {
            box-shadow: none;
            display: block;
            height: auto;
            max-height: initial;
            position: initial;
            top: initial;
            transition: none;
            width: auto;
        }
        &__list {
            flex-direction: row;
            max-height: initial;
            padding-bottom: 0;
            transition: none;
        }
        &__list-item {
            margin-right: 32px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
