.product-card {
    font-family: theme("fontFamily.body");
    padding: 15px;

    &:hover {
        border-radius: 10px;
        box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1);
        transition: all 0.15s ease-in-out;
        z-index: 10;
    }
    &__link {
        text-decoration: none;
    }
    &__image {
        height: 200px;
        margin: 0 auto;
        max-width: 200px;
        object-fit: contain;
    }
    &__title {
        font-size: 14px;
        font-weight: 400;
        margin-top: 8px;
    }
    &__price {
        color: theme("colors.sky.600");
        font-size: 16px;
        font-weight: 400;
    }
    &__btn {
        margin-top: 10px;
        width: 100%;
    }
}
