.title-section {
    text-align: center;

    &__title {
        color: theme("colors.slate.700");
        font-family: theme("fontFamily.body");
        font-size: 30px;
        font-weight: 500;
    }
}
