.auth {
    margin: 60px auto 0 auto;

    &__button {
        width: 100%;
    }
    &__error-message {
        color: red;
        text-align: center;
    }
}

@media screen(lg) {
    .auth {
        width: 500px;
    }
}
