.cart-subtotal {
    border-radius: 8px;
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1) !important;
    padding: 24px;
    text-align: center;

    &__title {
        font-size: 17px;
        font-weight: 500;
        padding-bottom: 20px;
    }
    &__price {
        border-bottom: 1px solid #e3e9ef;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

.my-node {
    background-color: red;
}
.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: all 2000ms ease-out;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}
