.cart-item {
    border-bottom: 1px solid #e3e9ef;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;

    &__image-container {
    }
    &__image {
        height: auto;
        margin: 0 auto;
        max-width: 200px;
        width: 100%;
    }
    &__content {
        margin: 0 auto;
        padding-top: 20px;
        width: 80%;
    }
    &__title {
        color: #373f50;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    &__label {
        color: #7d879c;
    }
    &__price {
        color: theme("colors.sky.600");
        margin: 10px 0 10px 0;
    }

    &__actions {
        margin: 0 auto;
        width: 40%;
    }
    &__quantity {
        color: theme("colors.black");
        font-weight: 500;
        margin-bottom: 5px;
    }
    &__quantity-input {
        border: 1px solid #dae1e7;
        border-radius: 0.3125rem;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
        color: #4b566b;
        display: block;
        font-weight: 400;
        line-height: 1.5;

        padding: 0.625rem 1rem;
        width: 100%;
        &:focus {
            /* border-color: theme("colors.primary"); */
            border-color: rgba(254, 105, 106, 0.35);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0),
                0 0.375rem 0.625rem -0.3125rem rgba((254, 105, 106, 0.15));
            outline: 0;
        }
    }
    &__remove-btn {
        align-items: center;
        color: #fe696a;
        display: flex;
        margin: 10px auto 0 auto;
    }
    &__remove-btn-icon {
        align-items: center;
        border: 1px solid #fe696a;
        border-radius: 50%;
        display: flex;
        height: 18px;
        justify-content: center;
        margin-right: 5px;
        width: 18px;
    }
}

@media (min-width: 1024px) {
    .cart-item {
        align-items: center;
        display: flex;
        justify-content: space-between;

        &__description {
            align-items: center;
            display: flex;
            width: 60%;
        }
        &__image-container {
            max-width: 160px;
            width: 160px;
        }
        &__image {
            max-width: 160px;
            width: 100%;
        }
        &__content {
            margin: 0;
            padding-left: 40px;
            text-align: left;
        }
        &__actions {
            margin: 0;
            width: 20%;
        }
        &__quantity {
            text-align: left;
        }
        &__remove-btn {
            margin: 10px 0 0 0;
        }
    }
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: all 0.5s ease-out;
}
.fade-exit {
    opacity: 1;
    position: relative;
}
.fade-exit-active {
    opacity: 0;
    transition: all 0.5s ease-out;
}
